name: Manual Push to SNAPSHOT repo

on:
  workflow_dispatch:

jobs:
  commit-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
#      - name: Setup Testcontainers Cloud Client
#        uses: atomicjar/testcontainers-cloud-setup-action@v1
#        with:
#          token: ${{ secrets.TC_CLOUD_TOKEN }}
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean build -x test -PskipSigning=true --stacktrace
      - name: Publish package to SNAPSHOT repository
        run: ./gradlew publish -PskipSigning=true --warn --stacktrace
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
